[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: dfn_skype
name: Skype
description: Software fuer Videokonferenzen, IP-Telefonie, Instant-Messaging, Dateiuebertragung und Screen-Sharing. // Software for video conferencing, chat and voice calls.
advice: 
version: 8.38.0.138
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktopicon
description: Generate or delete desktop icon
default: True

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_skype (8.38.0.138-2) stable; urgency=low

Dateinamen korrigiert.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 31 Jan 2019 19:40:54 +0000

dfn_skype (8.38.0.138-1) stable; urgency=low

Update auf 8.38.0.138, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 31 Jan 2019 17:44:39 +0000

dfn_skype (8.37.0.98-1) stable; urgency=low

Update auf 8.37.0.98, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 17 Jan 2019 19:12:10 +0000

dfn_skype (8.36.0.52-1) stable; urgency=low

Update auf 8.36.0.52, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 13 Dec 2018 15:19:20 +0000

dfn_skype (8.34.0.78-1) stable; urgency=low

Update auf 8.34.0.78, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 13 Nov 2018 19:14:06 +0000

dfn_skype (8.33.0.50-1) stable; urgency=low
 * Generischen Deinstaller eingebaut
 * Update auf 8.33.0.50, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 30 Oct 2018 17:35:44 +0000

dfn_skype (8.33.0.41-1) stable; urgency=low

Update auf 8.33.0.41, exe getauscht.

 -- Stefanie Kalleseke <stefanie.kalleske@wzb.eu>  Wed, 24 Oct 2018 10:24:02 +0000

dfn_skype (8.32.0.53-1) stable; urgency=low

Update auf 8.32.0.53, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 16 Oct 2018 13:13:55 +0000

dfn_skype (8.31.0.92-1) stable; urgency=low

Exe getauscht, Update auf 8.31.0.92

 -- Stefanie Kalleseke <stefanie.kalleske@wzb.eu>  Fri, 28 Sep 2018 09:37:30 +0000

dfn_skype (8.30.0.50-1) stable; urgency=low

Exe getauscht, Update auf 8.30

 -- Stefanie Kalleseke <stefanie.kalleske@wzb.eu>  Thu, 13 Sep 2018 11:29:16 +0000

dfn_skype (8.29.0.50-1) stable; urgency=low

Exe getauscht, Update auf 8.29.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 29 Aug 2018 13:23:28 +0000

dfn_skype (8.28.0.41-1) stable; urgency=low

Exe getauscht, Update auf 8.28.0.41

 -- Stefanie Kalleske <stefanie.kalleske@wzb.eu>  Wed, 15 Aug 2018 09:14:43 +0000

dfn_skype (8.27.0.85-1) stable; urgency=low

Exe getauscht, Update auf 8.27.0.85.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 08 Aug 2018 15:29:04 +0000

dfn_skype (8.25.0.5-1) stable; urgency=low

Exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 19 Jul 2018 16:46:14 +0000

dfn_skype (8.23.0.10-1) stable; urgency=low

* Exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 07 Jun 2018 15:39:19 +0000

dfn_skype (8.22.0.2-1) stable; urgency=low

* Update auf 8.21.0.10: exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 31 May 2018 15:18:36 +0000

dfn_skype (8.21.0.10-1) stable; urgency=low

* Update auf 8.21.0.10: exe getauscht
* Unterdrückung von Autostart, nach einem Start von Skype schriebt sich das wieder rein, aber dann vielleicht ja auch gewollt.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 16 May 2018 14:56:16 +0000

dfn_skype (8.20.0.9-1) stable; urgency=low

Exe getauscht, Update auf 8.20., Code eingefügt, das automatisch bei Installation gestartete Skype abzuschießen

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 02 May 2018 15:31:47 +0000

dfn_skype (8.19.0.1-1) stable; urgency=low

Exe getauscht, Update auf 8.19. Hinweis auf Test unter Win 10 einfügt.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 12 Apr 2018 15:35:54 +0000

dfn_skype (8.17.0.2-1) stable; urgency=low

Exe getauscht, Update auf 8.17.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 08 Mar 2018 17:25:00 +0000

dfn_skype (8.13.0.3-1) stable; urgency=low

Update auf 8.13.0.3., exe getauscht

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 11 Jan 2018 15:38:17 +0000

skype (7.9.85.103-1) stable; urgency=low

	* initial: created by Eric Esser <eric.esser@wzb.eu>

-- Eric Esser <eric.esser@wzb.eu> Thu, 21 Sep 2017 17:28:28 +0000
