[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_skype
name: Skype
description: Software fuer Videokonferenzen, IP-Telefonie, Instant-Messaging, Dateiuebertragung und Screen-Sharing. // Software for video conferencing, chat and voice calls.
advice: 
version: 8.20.0.9
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktopicon
description: Generate or delete desktop icon
default: True

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_skype (8.20.0.9-1) stable; urgency=low

Exe getauscht, Update auf 8.20., Code eingefügt, das automatisch bei Installation gestartete Skype abzuschießen

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 02 May 2018 15:31:47 +0000

dfn_skype (8.19.0.1-1) stable; urgency=low

Exe getauscht, Update auf 8.19. Hinweis auf Test unter Win 10 einfügt.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 12 Apr 2018 15:35:54 +0000

dfn_skype (8.17.0.2-1) stable; urgency=low

Exe getauscht, Update auf 8.17.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 08 Mar 2018 17:25:00 +0000

dfn_skype (8.13.0.3-1) stable; urgency=low

Update auf 8.13.0.3., exe getauscht

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 11 Jan 2018 15:38:17 +0000

skype (7.9.85.103-1) stable; urgency=low

	* initial: created by Eric Esser <eric.esser@wzb.eu>

-- Eric Esser <eric.esser@wzb.eu> Thu, 21 Sep 2017 17:28:28 +0000
